.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placemark {
  background-image: url('img/small.svg');
  background-size: 100%;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  margin-top: -17px;
}

.active {
  background-image: url('img/big.svg');
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -60px;

}

@keyframes show-big-placemark {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show-small-placemark {
  0% {
    transform: scale(1);
    background-image: url('img/big.svg');
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -60px
  }
  100% {
    transform: scale(0);
    background-image: url('img/big.svg');
  }
}

